@charset "utf-8";
@import "compass";
@import "reset";
@import "mixins";


// ==========================================================================
//   Disco
// ==========================================================================

body {
  background: $silver;
  color: $midnight-blue;
  @include tisa-regular;
}

h1, h2, h3, h4, h5, h6 {
  @include futura-medium;
}

a {
  text-transform: uppercase;
  color: transparentize($midnight-blue, .3);
  @include futura-medium;
  @include transition-all;
  text-decoration: none;
}

a:hover {
  color: $midnight-blue;
}

.wrap {
  padding: 0 20px;
}

@include keyframes(disco-ball-animate) {
  from {background-position: 1px 1px;}
  to {background-position: -11px 1px;} // The width of the sprite.
}

header {
  background: $midnight-blue;
  color: $clouds;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  .home-link {
    color: $clouds;
    .wallpaper-disco-logo {
      background-color: $clouds;
      background-image: url("../images/site-assets/disco-ball-texture.png");
      @include image-2x("../images/site-assets/disco-ball-texture@2x.png", 12px, 12px);
      background-position: 1px 1px;
      height: 64px;
      margin: 0 auto 10px auto;
      width: 64px;
      @include border-radius(32px);
        @include breakpoint(medium) {
          float: left;
          margin: 0 10px 0 0;
        }
    }
    h1 {
      text-align: center;
      font-size: 36px;
      @include breakpoint(medium) {
        padding-top: 3px;
        text-align: left;

      }
    }
    p {
      text-transform: none;
      display: inline;
      @include breakpoint(medium) {
              display: block;
              text-align: left;
              float: left;
            padding-left: 4px;
            font-size: 18px;
            letter-spacing: 1px;
            @include futura-book;    
      }
    }
  }
  .home-link:hover {
    .wallpaper-disco-logo {      
      @include animation(disco-ball-animate .2s linear infinite);
    } 
  }
  h2 {
    display: inline;
    @include breakpoint(medium) {
            display: block;
            text-align: right;
            float: right;
    }
    a {
      color: $clouds;
      text-transform: none;
      @include transition-all;
      @include futura-book;
    }
    a:hover {
      border-bottom: 1px solid $clouds;
      color: $clouds;
    }
  }
}




.pattern-section {
  background-attachment: fixed;
  background-position: center; 
  height: 600px;
  background-size: 175px 175px;
  @include breakpoint(medium) {
    background-size: 350px 350px;
  }
}

.pattern-section {
  position: relative;
  padding: 20px 0;
  .pattern-info {
    background: transparentize( $clouds, .05);
    border: 1px  solid transparentize($midnight-blue, .9);
    padding: 20px 20px 16px 20px;
    position: relative;
    @include breakpoint(small) {
      max-width: 300px;
    }
    h3 {
      font-size: 36px;
      margin-bottom: 12px;
    }
    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    ul {
      li {
        font-size: 15px;
        margin-bottom: 14px;
      }
    }
  }
  .button-pinterest {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.share-widget {
  li {
    a {
      display: inline-block;
      color: $clouds;
      font-size: 16px;
      background: red;
      text-align: center;
      height: 44px;
      padding-left: 25px;
      line-height: 44px;
      border-radius:25px;
      width: 110px;
      position: relative;
      span {
        background-image: url("../images/site-assets/share-sprite.png");
        @include image-2x("../images/site-assets/share-sprite@2x.png", 150px, 50px);
        position: absolute;
        top: -3px;
        left: 8px;
        height:50px;
        width: 56px;
      }
    }
    a:hover {
      border: none;
    }
  }
  .share-facebook {
    a {
      background-color: #385184;
      span {
        background-position: -50px 0;
      }
    }
  }
  .share-twitter {
    a {
      background-color: #55ACEE;
    }
  }
  .share-tumblr {
    a {
      background-color: #35465D;
      span {
        background-position: -100px 0;
      }
    }
  }
}

.share-interstitial {
  background: $clouds;
  padding: 22px 0;
  h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    @include breakpoint(medium) {
      text-align: left;
      float: left;
      padding-top: 8px;
      margin-bottom: 0;
      margin-left: 20px;
    }
  }
  .share-widget {
    overflow: hidden;
    text-align: center;
    li {
      display: block;
      margin-bottom: 10px;
      padding: 0;
    @include breakpoint(medium) {
      padding: 0 10px;
      display: inline-block;
      margin-bottom: 0;
    }
    a {
      display: block;
      padding: 0;
      width: 100%;
          @include breakpoint(medium) {
            padding-left: 25px;
             width: 110px; 
          }
          
    }
    }
  }
}


// ==========================================================================
//   404 page
// ==========================================================================

.four-oh-four {
  background: url("../images/site-assets/four-oh-four-pattern-tom-wahlin.png");
  @include image-2x("../images/site-assets/four-oh-four-pattern-tom-wahlin@2x.png", 350px, 350px);
}

