@charset "utf-8";
@import "compass";
@import "reset";
@import "mixins";


// ==========================================================================
//   Disco
// ==========================================================================

body {
  background: #ECF0F1;
  @include tisa-regular;
}

h1, h2, h3, h4, h5, h6 {
  @include futura-medium;
}

a {
  text-transform: uppercase;
  color: #666;
  @include futura-medium;
  text-decoration: none;
}

a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.wrap {
  padding: 0 20px;
}

header {
  background: #333;
  padding: 20px 0;
  @include breakpoint(medium) {
    height: 64px;
  }
  .logo {
    background: url("../images/site-assets/logo.png") left center no-repeat;
    @include image-2x("../images/site-assets/logo@2x.png", 64px, 64px);
    height: 64px;
    padding: 0 0 0 74px;
    margin-bottom: 10px;
    @include breakpoint(medium) {
      float: left;
      margin-bottom: 0;
      width: 300px;
    }
    h1 {
      padding-top: 7px;
      @include futura-book;
      font-size: 36px;
      a {
        color: #fff;
      }
      a:hover {
        border: none;
      }
    }
    p {
      color: #fff;
      font-size: 11px;
      padding-left: 2px;
      @include breakpoint(medium) {
        font-size: 13px; 
      }
      a {
        color: #fff;
        text-transform: capitalize;
      }
      a:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
  h2 {
    float: left;
  }
  ul {
    padding: 22px 0;
    overflow: hidden;
    @include breakpoint(medium) {
      float: right;
    }
    li {
      float: left;
      margin-right: 16px; 
      @include breakpoint(medium) {
        float: right;

      }
    }
    .share-twitter {
      overflow: hidden;
      width: 76px;
    }
    .share-facebook {

    }
    .share-tumblr {

    }
  }
}

.pattern-section {
  background-attachment: fixed;
  background-position: center; 
  height: 600px;
}

.pattern-section {
  position: relative;
  padding: 20px 0;
  .pattern-info {
    background: transparentize(#fff, .05);
    padding: 20px 20px 16px 20px;
    position: relative;
    max-width: 300px;
    h3 {
      font-size: 36px;
      margin-bottom: 12px;
    }
    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    ul {
      li {
        font-size: 15px;
        margin-bottom: 14px;
      }
    }
  }
  .button-pinterest {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

// ==========================================================================
//   404 page
// ==========================================================================

.four-oh-four {
  background: url("../images/site-assets/four-oh-four-pattern-tom-wahlin.png");
  @include image-2x("../images/site-assets/four-oh-four-pattern-tom-wahlin@2x.png", 350px, 350px);
}

