<section class="four-oh-four">
  <div class="wrap">
    <h3>404</h3>
    <p>Page not found. <a href="https://twitter.com/twahlin">Find me on twitter?</a></p>
  </div>
</section>

<!-- There should also be a newsletter signup thingy here. Sign up for pattern updates. -->