<header>
  <div class="wrap">
      <a class="home-link" href="http://wallpaperdisco.com/">
        <div class="wallpaper-disco-logo"></div>
        <h1>Wallpaper Disco</h1>
        <p>Dance up your desktop and devices.</p>
      </a>
    <h2><a onclick="_gaq.push(['_trackEvent', 'Link to shop', 'Click', 'Header']);" href="http://society6.com/twahlin/cases">VISIT THE SHOP&rarr;</a></h2>
  </div>
</header>


