<!-- <header>
  <div class="wrap">
    <div class="logo">
      <h1><a href="#">Wallpaper Disco</a></h1>
      <p>Dance up your desktop and devices | <a href="http://tomwahlin.com">By Tom Wahlin</a></p>
    </div>
  </div>
</header> -->


<header>
  <div class="wrap">
    <div class="logo">
      <a href="http://wallpaperdisco.com/">
        <h1>Wallpaper Disco</h1>
        <p>Dance up your desktop and devices | </p>
      </a>
      <p><a href="http://tomwahlin.com">By Tom Wahlin</a></p>
    </div>
  </div>
</header>