<ul class="share-widget">
  <li class="share-facebook"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/wallpaperdisco&title=Dance up your desktop and devices | By Tom Wahlin">Share<span></span></a></li>
  <li class="share-twitter"><a target="_blank" href="http://twitter.com/intent/tweet?status=Wallpaper Disco: Downloadable wallpapers to dance up your devices. http://wallpaperdisco.com/ by @twahlin">Tweet<span></span></a></li>
  <li class="share-tumblr"><a target="_blank" href="http://www.tumblr.com/share?v=3&u=http://wallpaperdisco.com&t=Wallpaper Disco">Share<span></span></a></li>
</ul>